.advantages
  @include main
  background: url("../../img/bg/advantages_bg.jpg") center (center / cover) no-repeat
  min-height: 998px
  width: 100%
  padding-top: 80px
  position: relative
  &__content
    max-width: 1137px
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &-item
    width: 243px !important
    height: 363px
    padding: 15px 15px 20px 15px
    display: flex !important
    flex-direction: column
    justify-content: center
    border-radius: 10px
    background-color: rgba(#4258b3, .5)
    box-shadow: 3px 0 9.49px 3.51px rgba(0, 0, 0, 0.7)
    position: relative
    img
      display: block
      width: 151px
      height: 151px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    &__text
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
      color: $main-color
      font-family: "Impact", sans-serif
      text-transform: uppercase
    &__title
      font-size: 22px
      margin-bottom: 10px
    &__price
      font-size: 19px
  .item-video
    width: 100%
    height: 150px
    border-radius: 10px
    position: absolute
    left: 0
    top: -50px
    visibility: hidden
    &--show
      visibility: visible
    &__link
      display: block
      width: 100%
      height: 100%
      z-index: 2
      position: relative
      &:after
        content: ""
        display: block
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        background: linear-gradient(#8248c3, #394783)
        opacity: .7
    &__img
      display: block
      width: 100%
      height: 100%
      border-radius: 10px
    &__play
      display: block
      width: 78px
      height: 78px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 2




