.burger
  display: none
  cursor: pointer
  width: 40px
  height: 40px
  align-items: center
  span
    width: 100%
    display: block
    background-color: $main-color
    height: 2px
    position: relative
    font-size: 0
    &:after,
    &:before
      content: ""
      display: block
      position: absolute
      width: 100%
      height: 2px
      background-color: $main-color
      font-size: 0
      transition: 0.2s
    &:after
      top: -10px
    &:before
      bottom: -10px
  &-active
    span
      height: 0
      &:after
        transform: rotate(-45deg) translate(-14px, 0px)
      &:before
        transform: rotate(45deg) translate(-11px, 0px)
