.btn--advantages
  display: block
  width: 215px
  height: 60px
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  border: 5px solid #2f7cc3
  border-radius: 10px
  background: #71bce9
  color: $main-color
  font-family: "Impact", sans-serif
  font-size: 24px
  opacity: 1
  padding: 7px 20px
  text-align: center
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.78)
  text-transform: uppercase
  transition: background-color .2s, opacity 0.3s, visibility 0s linear 0.3s
  visibility: visible
  &:hover
    background-color: darken(#71bce9, 5%)
.btn--send
  display: block
  width: 250px
  height: 60px
  border-radius: 5px
  border: 4px solid $second-color
  text-transform: uppercase
  font-family: "Myriad Pro", sans-serif
  background-color: $main-color
  color: $second-color
  font-weight: bold
  cursor: pointer
  position: relative
  margin: 0 auto
  &:before,
  &:after
    content: ""
    position: absolute
    display: block
    width: 14px
    height: 4px
    background-color: $main-color
    transform: skew(50deg)
    transition: .4s linear
  &:before
    top: -4px
    left: 10%
  &:after
    bottom: -4px
    right: 10%
  &:hover
    background-color: darken($main-color,5%)
    color: darken($second-color, 10%)
  &:hover:before
    left: 80%
  &:hover:after
    right: 80%
  &-modal
    width: 100%
    margin-top: 15px