.clients
  @include main
  padding-top: 80px
  background-color: #e9e9e9
  &__content
    margin-top: 60px
  .table
    height: 100%
    width: 100%
    margin: 0 auto
    border-collapse: collapse
    &-td
      padding: 30px 16px
      text-align: center
      vertical-align: middle
      height: 100%
  &__img
    max-width: 150px
    width: 100%