.feedback
  @include main
  padding: 80px 0
  background: url("../../img/bg/advantages_bg.jpg") center (center / cover) no-repeat
  min-height: 998px

  &__subtitle
    font-size: 34px
    margin: 16px 0

  &__content
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 60px 0


  &-information
    width: 45%
    color: $main-color
    font-family: "Impact", sans-serif
    line-height: 1.2
    padding: 10px
    &--right
      text-align: right
    &__table
      font-size: 24px
      td
        padding: 4px

    &__address
      font-style: normal
    &__phone,
    &__email
      a
        text-decoration: none
        color: $main-color

  &-title
    text-align: center
    margin-bottom: 20px
    font-size: 31px
    font-family: "Impact", sans-serif


  &-form
    width: 45%

