.form
  display: flex
  flex-direction: column
  input,
  textarea
    border: none
    border-radius: 10px
    padding: 14px
    margin-bottom: 14px
    background-color: rgba($second-color, .9)
    color: #000
    font-size: 18px
    font-family: "Myriad Pro", sans-serif
    &::placeholder
      color: $main-color
  textarea
    resize: none
    height: 200px
  label
    text-align: center
    display: block
    margin-bottom: 10px
    color: red
    font-family: "Myriad Pro", sans-serif
    font-size: 16px
    text-transform: uppercase


  &-modal
    input
      background-color: $main-color
      color: $second-color
      &::placeholder
        color: $second-color


