.header
  @include main
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  padding-top: 15px
  z-index: 10
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1787px
    width: 100%
    margin: 0 auto
  &--fixed
    position: fixed
    background-color: rgba(66,88,179,.9)
    padding: 10px
    opacity: 1
    transition: all .2s linear
    .logo
      max-width: 160px

