.overlay
  width: 100%
  height: 100%
  position: fixed
  top: 0
  background-color: rgba(0, 0, 0, .56)
  display: none
  z-index: 100
.modal
  justify-content: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 380px
  min-height: 400px
  background-color: rgba(66,88,179,.9)
  padding: 38px 40px 40px 40px
  &-mini
    display: none
    color: $main-color
    min-height: auto
    &__subtitle
      font-family: "Bebas Neue", sans-serif
      font-size: 26px
      text-align: center
      margin-bottom: 20px
    &__descr
      font-size: 21px
      font-weight: 500
      text-align: center
      font-family: "Myriad Pro", sans-serif
  &__subtitle
    font-family: "Bebas Neue", sans-serif
    font-size: 26px
    margin-bottom: 20px
    text-align: center
    color: $main-color
  &__close
    position: absolute
    top: 0
    right: -40px
    font-size: 40px
    line-height: 21px
    color: $second-color
    cursor: pointer
  &__descr
    color: #0d0d0d
    font-size: 14px
    font-weight: 500
    text-align: center

  .error /*Класс который выдается плагином validate*/
    border: 1px solid red
  label.error
    border: none
    text-align: center
    margin-bottom: 15px

#order
  display: none

.no-scroll
  overflow: hidden