.nav
  max-width: 660px
  width: 100%
  display: flex
  justify-content: space-between
  font-family: "Impact", sans-serif

  &__link
    display: block
    color: $main-color
    text-decoration: none
    font-size: 18px
    text-transform: uppercase
    position: relative
    &:after
      content: ""
      display: block
      width: 0
      height: 2px
      background-color: $second-color
      position: absolute
      left: 0
      transition: width 0.3s ease-out
    &:hover:after
      width: 100%



