.portfolio
  width: 100%
  padding-top: 20px
  &__title
    font-family: "Impact", sans-serif
    font-size: 48px
    text-transform: uppercase
    text-align: center
    letter-spacing: 2px
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.78)
  &__content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    max-width: 1000px
    margin: 0 auto
    padding-top: 20px
  .play__img
    width: 100px
    display: block
    visibility: hidden
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
  &-item
    max-width: 198px
    width: 100%
    height: 100%
    margin: 0 5px 20px 5px
    border-radius: 10px
    box-shadow: 8px 0 21px 8px rgba(0, 0, 0, 0.57)
    position: relative

  &__link
    display: block
    width: 100%
    height: 100%
    position: relative
    &:after
      content: ""
      display: block
      width: 100%
      height: 100%
      background: linear-gradient(#8248c3, #394783)
      position: absolute
      top: 0
      left: 0
      opacity: .7
      border-radius: 10px
      visibility: hidden
    &:hover .play__img
      visibility: visible
    &:hover:after
      visibility: visible
  &__img
    display: block
    width: 100%
    height: 100%
    border-radius: 10px


