.preloader
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  overflow: hidden
  /* фоновый цвет */
  background: #e0e0e0
  z-index: 1001


.preloader__image
  position: relative
  top: 50%
  left: 50%
  width: 70px
  height: 70px
  margin-top: -35px
  margin-left: -35px
  text-align: center
  animation: preloader-rotate 2s infinite linear


@keyframes preloader-rotate
  100%
    transform: rotate(360deg)



.loaded_hiding .preloader
  transition: 0.3s opacity
  opacity: 0


.loaded .preloader
  display: none
