.promo
  @include main
  position: relative
  height: 100vh
  //background: url("../../img/bg/promo_bg.jpg") center (center /cover) no-repeat
  box-shadow: 0px 18px 21px 0px rgba(0, 0, 0, 0.57)
  z-index: 2
  &:after
    position: absolute
    width: 100%
    height: 100%
    content: ""
    display: block
    left: 0
    top: 0
    background-color: #000000
    opacity: .5
    z-index: 2

  &__content
    z-index: 3
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 796px
    width: 100%
    &:before
      content: ""
      display: block
      width: 20px
      height: 20px
      background-color: $main-color
      border-radius: 100%
      position: absolute
      left: 62%
      top: 50%

  &__text-left,
  &__text-right
    display: flex
    flex-direction: column
    text-transform: uppercase

  &__text-left
    text-align: right
    color: $main-color
  &__text-right
    text-align: right
    color: $second-color

  &__text-left_top
    font-family: "Bebas", sans-serif
    font-size: 78px
    font-weight: 400
    letter-spacing: 6px
    word-spacing: 6px
    margin-bottom: 16px
    margin-top: -4px
    color: $main-color
    text-align: right

  &__text-left_bottom
    color: $main-color
    text-transform: uppercase
    font-size: 48px
    font-family: "Myriad Pro", sans-serif
    letter-spacing: 4px
    text-align: right

  &__text-right_top
    font-family: "Bebas Neue", sans-serif
    font-size: 86px
    letter-spacing: 17px
  &__text-right_bottom
    font-size: 58px
    font-family: "Myriad Pro", sans-serif
    letter-spacing: 3px
