.slick-dots
  li
    button
      background: #71bce9
      border-radius: 100%
      border: 2px solid #71bce9
      &:before
        font-size: 0
  li.slick-active
    button
      background: #2365B3
.slick-dots
  li.slick-active
    button
      &:before
        opacity: 0