.social
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  max-width: 120px
  width: 100%
  height: 100%
  &__item--youtube
    height: 40px
  &__link
    display: block
    &--youtube
      height: 40px
  &__icon
    transition: all .2s linear

    &:hover
      fill:  $main-color

