.title
  font-family: "Impact", sans-serif
  font-size: 52px
  text-transform: uppercase
  text-align: center
  letter-spacing: 2px
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.78)
  &--orange
    color: $second-color
.subtitle
  font-family: "Impact", sans-serif
  font-size: 48px
  text-transform: uppercase
  text-align: center
  letter-spacing: 2px
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.78)