.work
  @include main
  padding-top: 80px
  background: url("../../img/bg/advantages_bg.jpg") center (center / cover) no-repeat
  min-height: 998px
  box-shadow: 0 18px 21px 0 rgba(0, 0, 0, 0.57)
  position: relative
  z-index: 2
  &__text
    max-width: 1182px
    width: 100%
    padding: 10px 16px
    background-color: $second-color
    margin: 20px auto
    border-radius: 30px
  &__subtitle
    color: $main-color
    font-family: "Myriad Pro", sans-serif
    font-size: 19px
    font-weight: normal
    line-height: 1.2
    text-transform: uppercase
    text-align: center
